NUL and CR are incorrectly permitted within header values

The HTTP RFCs specify that NUL, CR, and LF bytes are not permitted within HTTP header values. Tornado does not enforce this rule for NUL and CR.

To be clear, since we handle headers in multiple places, this is about header input (`HTTPHeaders.parse`), right? We do block this in output (in web.py, which is perhaps the wrong layer if folks are using the lower-level classes directly).

I just introduced a `field_vchar` regex for the request start line, so we just need to apply this to the rest of the headers. Do you happen to know why [RFC9110 section 5.5](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-values) defines `field-value` and `field-content` the way it does?

```
  field-value    = *field-content
  field-content  = field-vchar
                   [ 1*( SP / HTAB / field-vchar ) field-vchar ]
```

Why is there this level of indirection? Any repetition of `field-content` is also a `field-content`. I suppose `field-value` may be empty and `field-content` may not, but expressing that with nested repetition seems odd. (List-based fields seem like one reason for such a structure, but since this doesn't talk about the comma splice that doesn't seem to be the case) Actually, am I reading this correctly that a `field-content` may be one char, or three or more, but not exactly two characters?

> To be clear, since we handle headers in multiple places, this is about header input (HTTPHeaders.parse), right?

Yes.

> Why is there this level of indirection? Any repetition of `field-content` is also a `field-content`.

This isn't true for exactly the reasons you've pointed out:
1. `*field-content` matches the empty byte sequence, but `field-content` doesn't.
2. `*field-content` matches two-byte sequences, but `field-content` doesn't.

Other than that, I think they're equivalent, but maybe I'm missing some edge cases.

I think the intent here is that `field-value` should satisfy the following 3 constraints:
1. The first byte is a `field-vchar`.
2. The last byte is a `field-vchar`.
3. All bytes are either `field-vchar`, SP, or HTAB.

The extra layer of indirection does seem unnecessary. Maybe it would be somewhat nicer to remove `field-content` entirely, and change `field-value` to this:
```
  field-value  = 1*field-vchar
                 [ *( SP / HTAB / field-vchar ) field-vchar ]
```

