Newline in header: 'HTTP/1.0\n 404 Not Found'

- tornado version : 4.0.2
- application.log
```
2015-01-06 16:51:33,017 - ERROR - web - Uncaught exception in write_error
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/tornado/web.py", line 929, in send_error
    self.write_error(status_code, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/tornado/web.py", line 957, in write_error
    "message": self._reason,
  File "/usr/local/lib/python2.7/site-packages/tornado/web.py", line 895, in finish
    self.flush(include_footers=True)
  File "/usr/local/lib/python2.7/site-packages/tornado/web.py", line 849, in flush
    start_line, self._headers, chunk, callback=callback)
  File "/usr/local/lib/python2.7/site-packages/tornado/http1connection.py", line 370, in write_headers
    raise ValueError('Newline in header: ' + repr(line))
ValueError: Newline in header: 'HTTP/1.0\n 404 Not Found'
```
- there is no exception in version [3.2](https://pypi.python.org/pypi/tornado/3.2)
- my code for set_header()
```python
self.set_header('Cache-Control', 'no-store, no-cache, must-revalidate, max-age=0')
...
self.set_header('Content-Type', 'application/javascript; charset=utf-8')
...
self.set_header('Content-Type', 'application/json; charset=utf-8')
```

Do you have a custom 404 page, or an explicit `raise HTTPError(...)` with a `reason` kwarg?

@blakev 

1. test API : http://hostname/qa.json?q=query
    - during burst stress test(approximately 3000 qps)
2. health check API : http://hostname/_hcheck.hdn 
    - 1 call per sec

my application just like bellow :

```python
...
class Application(tornado.web.Application):
    def __init__(self):
        settings = dict(
            static_path = os.path.join(os.path.dirname(__file__), 'static'),
            template_path = os.path.join(os.path.dirname(__file__), 'templates'),
            autoescape = None,
            debug = options.debug,
            gzip = True
        )

        handlers = [
            (r'/', IndexHandler),
            (r'/_hcheck.hdn', IndexHandler),
            (r'/qa.(.*)', QaHandler),
        ]

        tornado.web.Application.__init__(self, handlers, **settings)
        autoreload.add_reload_hook(self.finalize)

        self.log = setupAppLogger()

        # init resources
        self.log.info('initialize resources...')
        ## initialize something
        ....
        log.info('start http start...')

    def finalize(self):
        # finalize resources
        self.log.info('finalize resources...')
        ## finalize something....

        log.info('Close logger...')
        x = list(log.handlers)
        for i in x:
            log.removeHandler(i)
            i.flush()
            i.close()

def main():
    tornado.options.parse_command_line()

    application = Application()
    httpServer = tornado.httpserver.HTTPServer(application, no_keep_alive=True)
    if options.debug == True :
        httpServer.listen(options.port)
    else :
        httpServer.bind(options.port)
        httpServer.start(0) # Forks multiple sub-processes

    MAX_WAIT_SECONDS_BEFORE_SHUTDOWN = 3

...

class IndexHandler(BaseHandler):
    def get(self):
        self.set_header('Cache-Control', 'no-store, no-cache, must-revalidate, max-age=0')
        templates_dir = 'api/www/templates'
        hdn_filename = '_hcheck.hdn'
        err_filename = 'error.html'
        try : fid = open(templates_dir + "/" + hdn_filename, 'r')
        except :
            self.set_status(404)
            self.render(err_filename)
        else :
            fid.close()
            self.render(hdn_filename)

class QaHandler(BaseHandler):
    def post(self, format=''):
        self.get(format)

def get(self, format='json'):
        start_time = time.time()
        format = format.strip().lower()
        callback = self.get_argument('callback', '')
        device = self.get_argument('device','pc')
        question = self.get_argument('q', '')
        ...
        rst = {}
        rst['msg'] = ''
        rst['question'] = question
        if mode == 'debug' : rst['debug'] = debug
        .... # make rst
        try :
            ret = json.dumps(rst,ensure_ascii=False,encoding="utf-8")
        except :
            msg = "json.dumps() fail for question %s" % (question)
            self.log.debug(msg + "\n")
            err['status'] = 500
            err['msg'] = msg
            ret = json.dumps(err)
        
        if mode == 'debug' :
            self.set_header('Cache-Control', 'no-store, no-cache, must-revalidate, max-age=0')

        if format == 'json':
            if callback.strip() :
                self.set_header('Content-Type', 'application/javascript; charset=utf-8')
                ret = 'if (typeof %s === "function") %s(%s);' % (callback, callback, ret)
            else :
                self.set_header('Content-Type', 'application/json; charset=utf-8')
            self.write(ret)
            self.finish()
```

I can reproduce this problem if I send a request like `GET /hello HTTP/1.0\n\r\n` (not `\r\n\r\n`). Looks like there are two problems: we had a regression in Tornado 4.0 in our handling of bare linefeeds in headers, and we simply echo back whatever version the client sends without validating it. On my reading of RFC 7230 section 2.6, we should send HTTP/1.1 in all our responses no matter what the incoming version was (and we should probably also reject any version that does not start with 1, although HTTP/2.0 doesn't look anything like 1.x in this respect)