Not all WebSocket servers recognize WebSocket headers sent with WebSocketClientConnection.

tornado.httputil._NormalizedHeaderCache class convert Sec-WebSocket-Key and Sec-WebSocket-Version headers to Sec-Websocket-Key and Sec-Websocket-Version (s in Websocket is lowercase).

So some servers can misinterpret WebSocket version (telnet):

```
GET /WebSocketConnection HTTP/1.1
Host: <host>
Connection: Upgrade
Origin: null
Sec-Websocket-Key: LS34zB0raD7SH1iW6KppXQ==
Sec-Websocket-Version: 13
Upgrade: websocket


HTTP/1.1 101 Web Socket Protocol Handshake
Upgrade: WebSocket
Connection: Upgrade
WebSocket-Origin: null
WebSocket-Location: ws://<host>/WebSocketConnection
```

But with capital s all is fine:

```
GET /WebSocketConnection HTTP/1.1
Host: <host>
Connection: Upgrade
Origin: null
Sec-WebSocket-Key: LS34zB0raD7SH1iW6KppXQ==
Sec-WebSocket-Version: 13
Upgrade: websocket


HTTP/1.1 101 Switching Protocols
Upgrade: websocket
Connection: Upgrade
Sec-WebSocket-Accept: GXPYujuKxDumAkK84+pWXLTJ1RY=
```

Now i can connect to server only when i monkeypatch tornado.httputil._NormalizedHeaderCache:

``` python
import tornado.httputil


class NormalizedHeaderCache(tornado.httputil._NormalizedHeaderCache):
    def __missing__(self, key):
        normalized = "-".join([w.capitalize() for w in key.split("-")])
        # Fix WebSocket issue
        normalized = normalized.replace('Websocket', 'WebSocket')
        self[key] = normalized
        self.queue.append(key)
        if len(self.queue) > self.size:
            old_key = self.queue.popleft()
            del self[old_key]
        return normalized


tornado.httputil._normalized_headers = NormalizedHeaderCache(1000)
```


Aren't those servers simply incorrect? RFC 6455 says that headers are to be interpreted as in HTTP (i.e. case-insensitively), and even the old draft76 version (which avoided direct references to HTTP specified that header names were case-insensitive).

I have just encountered a server that is mistakenly case sensitive and I need to talk to it. Rather than monkey patch the code this solution may be preferable: directly initialize the required entries in the cache.

```
import tornado.httputil
tornado.httputil._normalized_headers['Sec-WebSocket-Version'] = 'Sec-WebSocket-Version'
tornado.httputil._normalized_headers['Sec-Websocket-Version'] = 'Sec-WebSocket-Version'
tornado.httputil._normalized_headers['Sec-WebSocket-Key'] = 'Sec-WebSocket-Key'
tornado.httputil._normalized_headers['Sec-Websocket-Key'] = 'Sec-WebSocket-Key'
```

Hello Ben,
RFC 6455 (Section 4.2.1.) says only that values in "Upgrade" and "Connection" header fields are case insensitive. Even the field name itself is not statet as case insensitive.
"Sec-WebSocket-Key" should be case sensitive.


> Even the field name itself is not statet as case insensitive.

From the end of section 4.1 of RFC 6455:

> Please note that according to [RFC2616], all header field names in
> both HTTP requests and HTTP responses are case-insensitive.
