server fails to parse folded headers

The server does not parse folded HTTP headers.  Please see IETF RFC 2616 section 2.2 for the details.
