HEAD requests don't write the body but still add Content-Length

It seems that when you make a HEAD request, the content (if any) is correctly not written to the response (https://github.com/tornadoweb/tornado/blob/master/tornado/web.py#L892) while the Content-Length header is written (https://github.com/tornadoweb/tornado/blob/master/tornado/web.py#L921) as if all content was present in the body.

Solution could be as easy as adding ` and self.request.method != "HEAD"` to https://github.com/tornadoweb/tornado/blob/master/tornado/web.py#L921

That's how HEAD is supposed to work. See [section 3.3 of RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.3)

Hi, this is by design. The [HTTP spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4) says:

> The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response. The metainformation contained in the HTTP headers in response to a HEAD request SHOULD be identical to the information sent in response to a GET request.

That includes content-length. Clients doing HEAD requests with Keep-Alive therefore have to search for `\r\n\r\n` to know when they've received the full server response; but after all you have to search for `\r\n\r\n` even with a GET request, too, to know where the body starts.

Posted this because it looked wrong that curl "hangs" on the request - which suggests something is broken on the server side. It does make sense to keep the headers as if a GET was made.

My bad, I suck at using curl.