FacebookGraphMixin not handling access_token JSON

Tornado expects the Facebook OAuth access_token response body to be URL-encoded parameters   (https://github.com/tornadoweb/tornado/blob/master/tornado/auth.py#L981).

This was changed in v2.3 of the Graph API, see https://developers.facebook.com/docs/apps/changelog/#v2_3:
> [Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {"access_token": {TOKEN}, "token_type":{TYPE}, "expires_in":{TIME}}. We made this update to be compliant with section 5.1 of RFC 6749.

At present, using the FacebookGraphMixin results in a `KeyError` like the one in #229.

I think that instead of `args = urlparse.parse_qs(escape.native_str(response.body))`, something along the lines `args = tornado.escape.json_decode(response.body)` should be used.

see #1977 

Great, sorry for the duplicate. I did search but obviously not well enough as I completely missed that.