Why tornado parse GET request body?

In RFC 2616 [section 4.3](https://tools.ietf.org/html/rfc2616#section-4.3), it writes down:
`A server SHOULD
   read and forward a message-body on any request; if the request method
   does not include defined semantics for an entity-body, then the
   message-body SHOULD be ignored when handling the request.`

But in tornado, the GET request body arguments can still be obtained from web.RequestHandler.get_argument.

We used to only parse bodies for POST and PUT requests, for exactly this reason. However, we got repeated requests to parse GET bodies (e.g. #1011), and ultimately I decided that if a body is sent, it's better to parse it than to discard it (clients really shouldn't be sending bodies with GETs, and proxies often reject them for good reason). I recommend using `get_query_argument()` and `get_body_argument()` instead of `get_argument()`; it's rarely appropriate to mix the two without knowing which you're looking for. 

If people use two different functions `get_query_argument` and `get_body_argument`, function `get_argument` is meaningless and confused. Is there any warning message when users use function `get_argument`? And I looked into the release log, these two functions were added in version 3.2, is there any plan to deprecate function `get_argument`?

Yeah, `get_argument()` should be deprecated.