ValueError when If-Modified-Since is invalid for StaticFileHandler request

Hello, recently our application underwent a security scan and I noticed our Tornado app was returning HTTP 500 for some requests:

```
HTTPServerRequest(protocol='http', host='ip-x-x-x-x.ec2.internal', method='GET', uri='/', version='HTTP/1.1', remote_ip='x.x.x.x')
Traceback (most recent call last):
  File "/opt/service/.local/lib/python3.11/site-packages/tornado/web.py", line 1790, in _execute
    result = await result
             ^^^^^^^^^^^^
  File "/opt/service/.local/lib/python3.11/site-packages/tornado/web.py", line 2695, in get
    if self.should_return_304():
       ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/service/.local/lib/python3.11/site-packages/tornado/web.py", line 2820, in should_return_304
    if_since = email.utils.parsedate_to_datetime(ims_value)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/email/utils.py", line 200, in parsedate_to_datetime
    raise ValueError('Invalid date value or format "%s"' % str(data))
ValueError: Invalid date value or format "${jndi:ldap://log4shell-generic-xxx${lower:ten}.w.nessus.org/nessus}"
2024-06-26 11:46:16.900 500 GET / (x.x.x.x) 8.71ms
```

Looks like `tornado.web.StaticFileHandler.should_return_304` is blindly parsing the `If-Modified-Since` header resulting in 500s. Ideally, invalid headers would return 400s.

Just discovered this as well! I'm looking for a workaround. Will comment again if I find one

It's possible this is being trigged by a change in browser behavior. I am finding `If-Modified-Since:
0` in the request headers that trigger the error.

Huh, actually, our application has been using this header for years as a `cache buster` mechanism. Given that `git blame` shows that the `should_return_304` function hasn't changed in years, perhaps there is a change in `email.utils.parsedate_to_datetime`?

My workaround—sufficient for me, but not all applications—is to short-circuit `should_return_304` as follows:
```
class MyStaticFileHandler(tornado.web.StaticFileHandler):
    def should_return_304(self):
        return False
```

I agree that it should not be returning a 500 in this case. I would suggest the proper response is to return `False` if the headers do not parse properly.

Looks like @mcg1969 is correct, and invalid If-Modified-Since headers should be ignored instead of returning a 5xx or 4xx error. [RFC 9110 section 13.1.3](https://www.rfc-editor.org/rfc/rfc9110.html#name-if-modified-since) says "A recipient MUST ignore the If-Modified-Since header field if the received field value is not a valid HTTP-date". 

Just coming over here to share that link! Thanks @bdarnell 

@bdarnell I made a PR to fix this since we're unable to inject our own `StaticFileHandler` into the third-party library we're using. https://github.com/tornadoweb/tornado/pull/3412

Fixed in #3412.