testing utils asyncclient delete method missing 

i try to test my web appliaction on tornado . i use the code like below 
this is within a asynchttptestcase Class 
```
response = self.fetch('/group', headers=self.headers, method="DELETE", body=json.dumps(mockdata))
            b = json.loads(response.body.decode())
```

but it can't get to my delete method , and i saw the doc ,it seem to not supporting http delete method ? can u guys add this feature?

`DELETE` is supported, however it's not supposed to have a body. But you can override this by passing `allow_nonstandard_methods=True` to `fetch()` (which passes it to `HTTPRequest()`)

From `simple_httpclient.py`:
```python
                if not self.request.allow_nonstandard_methods:
                    # Some HTTP methods nearly always have bodies while others
                    # almost never do. Fail in this case unless the user has
                    # opted out of sanity checks with allow_nonstandard_methods.
                    body_expected = self.request.method in ("POST", "PATCH", "PUT")
                    body_present = (self.request.body is not None or
                                    self.request.body_producer is not None)
                    if ((body_expected and not body_present) or
                            (body_present and not body_expected)):
                        raise ValueError(...)
```

From [RFC 7231 section 4.3.5](https://tools.ietf.org/html/rfc7231#section-4.3.5):

    A payload within a DELETE request message has no defined semantics;
    sending a payload body on a DELETE request might cause some existing
    implementations to reject the request.

If you control both the clients and the servers here, I would encourage you to use POST instead of DELETE for requests that have a body. If you cannot change this, use `allow_nonstandard_methods`. 