Content-Length included in response with code 101

I am seeing Jupyter notebooks, which use Tornado, include a `Content-Length: 0` on a websocket connection request.  The .NET websocket client doesn't appreciate that.

I believe this is the issue:

https://github.com/tornadoweb/tornado/blob/c2c0f383f491215eaf8129c8ebc6625c441761bf/tornado/web.py#L1000

Per RFC7230, section 3.3.2 (https://tools.ietf.org/html/rfc7230#section-3.3.2):

>   A server MUST NOT send a Content-Length header field in any response
>   with a status code of 1xx (Informational) or 204 (No Content).  A
>   server MUST NOT send a Content-Length header field in any 2xx
>   (Successful) response to a CONNECT request (Section 4.3.6 of
>   [RFC7231]).




Fixed in #2098 