Could/should a 204 response omit the Content-Length header?

> The 204 response MUST NOT include a message-body, and thus is always terminated by the first empty line after the header fields.

> The 304 response MUST NOT contain a message-body, and thus is always terminated by the first empty line after the header fields.

It seems like 204 and 304 should behave in the same way in regards to the response body and use of the Content-Length/Transfer-Encoding headers.

I'm writing a proxy and would like to be able to stream responses from other servers with as little modification as possible. ExpressJS (used in most of the upstreams I deal with) sends a 204 without a content-length header explicitly.

I can get around the automatic addition of a `Content-Length: 0` by flushing headers in my request handler instead of calling finish, but in the http1connection module it looks like it takes this to mean that I must be using a chunked response (_[http1connection.py#L354](https://github.com/tornadoweb/tornado/blob/branch4.3/tornado/http1connection.py#L354)_). Later on, however, it uses the existence of the `Transfer-Encoding` header to assume I'm trying to send a body and raises an error. (_[http1connection.py#L541](https://github.com/tornadoweb/tornado/blob/branch4.3/tornado/http1connection.py#L541)_)

Would it be appropriate to treat 204 in the same way as the 304 when dealing with Content-Length/Transfer-Encoding headers? I was about to submit a pull request thinking it'd be as simple as changing

```
start_line.code != 304
```

to

```
start_line.code not in (204, 304)
```

but this kind of check happens in a few different places and there are tests in place to verify some of the existing behaviour, so maybe this needs some discussion. Has this kind of thing come up before?

We should not send a `Content-Length: 0` with a 204 response, but we should not make this change by treating 204 and 304 the same in all cases. The difference between 204 and 304 is in RFC 7230 section 3.3.2: https://tools.ietf.org/html/rfc7230#section-3.3.2:
* 304 MAY have a Content-Length, but it is the length of the omitted response, not the (empty) body of the 304
* 204 MUST NOT have a Content-Length. I think this is a new requirement in RFC 7230; my read of RFC 2616 allows 204 to have a Content-Length if it is zero. 

So it looks like http1connection.py line 354 and web.py line 918 should treat 204 and 304 the same, and any tests that are broken by this need to be updated. I'm not sure what other changes may need to be made.

OK, cool. I was playing around with the code to get a better understanding of it myself and besides changes to  http1connection.py I had also updated web.py to also assert that the write buffer is empty for 204 responses in addition to 304. I can try making a pull request later with updated tests.