Empty reply on malformed HTTP request

When an incorrect HTTP request is performed, tornado makes no reply (log + return in code). I suggest returning an 400 error code.

For example, when working behind an nginx proxy-server, it causes a 502 error code to the end-user and a record in nginx's error log, which is incorrect (should be 400 and a warning).


This just got me too.... 

[RFC 7230 Section 3.1.1](https://tools.ietf.org/html/rfc7230#section-3.1.1) which came out about the time of this issue suggests:

> Recipients of an invalid request-line SHOULD respond with either a 400 (Bad Request) error or a 301 ...

Interesting. I was not aware that the RFC has guidance on this subject. That mitigates my concern about cross-protocol attacks, so returning a 400 looks like the right thing to do here.

@bdarnell I've looked through the code some, but I don't have line of sight on a good way to implement a fix for this.

I believe the line to change is [this one](https://github.com/tornadoweb/tornado/blob/a73bfc9ddd7515489508f194759e71b92e3b7ff7/tornado/http1connection.py#L254). The fix may be as simple as inserting `yield self.stream.write(b'HTTP/1.1 400 Bad Request\r\n\r\n')` before the `self.close()` (I'm guessing we need to write a raw response instead of using `self.write_headers` because that method requires some data from the request). 

@bdarnell I quickly got lost/sidetracked on weather or not all `HTTPInputError` should behave this way , or just the one raised by `httputil.parse_request_start_line()` (I think this one error needs to be a new narrow `HTTP400InputError`). I also think this case is scoped just to `is_client=True` but i'm not sure if there is also a case where `self.stream` would be None.

Thank You for that!
just a reminder that this is not in release: tornado-4.5.2
this cost me 6 hours of debugging misconfiguration in production infrastructure during weekend and would cost me more if I didn't find this issue.
case was that python SimpleHTTPServer is responding anything to:
`GET /`
but tornado was failing silently
related to https://github.com/tornadoweb/tornado/issues/822
Thanks again.

This is more of a new feature than a bugfix, so I'm not planning to backport it to 4.5. It will be in 5.0. 