http1connection: Send `Connection: close` before closing connection

From https://github.com/tornadoweb/tornado/pull/1963#issuecomment-305983002

When the client sends `Connection: close`, Tornado (correctly) responds by closing the connection after sending the response. [RFC 7230 section 6.6](https://tools.ietf.org/html/rfc7230#section-6.6) says that a server SHOULD set the `Connection: close` header in the response when it does so. 