Using Tornado as a REST server cannot return 304

I'm creating a REST server using the Tornado framework and, due to the internal design, I cannot respond to the client with a HTTP 304 code. In fact, the line that causes me trouble is located at [tornado/web.py, line 939](https://github.com/tornadoweb/tornado/blob/master/tornado/web.py#L939). Whenever I set the HTTP code to 304, the request hangs there (with an `AssertError`), and exits. Are there any workarounds for this issue? The two ones I thought would be:
- For adding to the framework: include a (`bool`) `REST` keyword at `tornado.web.RequestHandler` object to allow return a manually set 304 code (if `True`, then skip the 304 check). Maybe include at `initialize`? (leave decision to the developers).
- For someone to do locally: override `tornado.web.RequestHandler.finish()` and modify that assertion.

I think the first one may be cleaner and easily usable for everyone. Opinions?

I'd like this issue to be solved a.s.a.p. because I'm working heavily over this (by the way, excellent) framework. Thanks!

The AssertionError tells you that you cannot send a body with a 304 status code. This is a requirement from RFC 7232 section 4.1: https://tools.ietf.org/html/rfc7232#section-4.1. To send a 304 status code you must not call RequestHandler.write() and you must call RequestHandler.finish() with no arguments.

Thanks for your advice @bdarnell ! I was able to give back a HTTP 304 response. For the sake of completitude, here's the code I used:

``` python
import tornado.httpserver
import tornado.ioloop
import tornado.web


class GiveHandler(tornado.web.RequestHandler):
    def get(self, code):
        code = int(code)
        self.clear()  # This is not mandatory, but ensures the 304 response
        self.set_status(code)
        if code == 304:
            self.finish()
        else:
            self.write(code)

def main():
    app = tornado.web.Application(
        [
            (r'/(\d{3})', GiveHandler)
        ],
        debug=True
    )
    httpd = tornado.httpserver.HTTPServer(app)
    httpd.listen(8000)
    tornado.ioloop.IOLoop.instance().start()

if __name__ == '__main__':
    main()
```

Now, entering on the browser (or any REST client):
- `http://localhost:8000/200` yields a HTTP 200, 
- `http://localhost:8000/404` yields a HTTP 404, and 
- **`http://localhost:8000/304` yields a HTTP 304.**

Thanks for your response! _Issue closed._

Kind of warning.

The code of my request handler looked like this:

```
class MyHandler(RequestHandler):
    @threaded
    def get(self):
        self.set_status(304)
        #self.finish()  <- originally it was not commented.
```

The result was that server lost some requests (about one per several hundreds). It happened only in a very specific server configuration (threaded handlers, IOLoop  configured to use 'tornado.platform.asyncio.AsyncIOLoop') and took me two days to find out that the problem happens only if the handler calls `self.finish()`.

Is it really necessary to call `self.finish()` if my handler decides to return 304?